server {
    listen 80;
    server_name 192.168.44.200;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/tmp/sockets/jango.sock;
    }

    location /flax/ {
        include uwsgi_params;
        rewrite ^/flax/(.*) /$1 break;
        uwsgi_pass unix:/tmp/sockets/flax.sock;
    }
}
